body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}
h1 {
    display: flex;
    font-family: georgia;
    font-weight: bold;
    font-size: 150px;
    grid-column: 1/3;
    grid-row: 1/2;
    align-items: flex-end;
    justify-content: center;
    letter-spacing: 10px;
    z-index: 2;
    
}
img {
    width: 100%;
    height: 100%;
    grid-column: 1/2;
    grid-row: 1/3;
    z-index: 1;
}
h2 {
    display: flex;
    font-size: 75px;
    font-family: georgia;
    grid-column: 2/3;
    grid-row: 2/3;
    color: #9c0e11;
    align-items: center;
    justify-content: center;
    letter-spacing: 20px;
    z-index: 3;
}
div {
    grid-column: 2/3;
    grid-row: 1/3;
    background-color: #b9b8b9;
    z-index: 0;
}